.center {
    border: 1px solid rgb(192, 182, 182);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: auto;
    width: 35rem;
    border-radius: 7px;
  }