{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'upload.css' %}" />
    <!-- Favicon -->

    <link rel="icon" type="image/x-icon" href="{% static 'img/fev-icon.png' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Upload</title>
  </head>
  <body>
    
    <div class="center">
        <p class="fs-2 fw-bold text-center">Upload File</p>
        <form action="\upload" method="post" enctype="multipart/form-data">
          
          {% csrf_token %}
        <div>
            <label for="formFileLg" class="form-label">Upload file</label>
            <input class="form-control form-control-lg mb-4" id="formFileLg" accept=".pdf, .jpg, .png, .txt" name="file" type="file">
          </div>
          <button type="submit" class="btn btn-outline-success float-end">Upload</button>
        </form>
      </div>
      {% if form.errors %}
      <div class="error">
        <ul>
          {% for error in form.file.errors %}
          <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
